<div class="container">
    <form #editForm="ngForm">
        <label class="form-label">Id departamento</label>
        <input type="number" #cajaid name="cajaid" class="form-control"
            value="{{departamento.idDepartamento}}" disabled>
        <label class="form-label">Nombre</label>
        <input type="text" name="cajanombre" #cajanombre class="form-control"
            value="{{departamento.nombre}}">
        <label class="form-label">Localidad</label>
        <input type="text" name="cajalocalidad" #cajalocalidad class="form-control"
            value="{{departamento.localidad}}">
        <button (click)="updateDepartamento()" class="btn btn-outline-dark">
            Edit
        </button>
    </form>
</div>