<div style="float:left; padding: 20px">
    <h1 style="color:red">
        {{comic.nombre}}
    </h1>
    <h2 style="color:blueviolet">
        {{comic.descripcion}}
    </h2>
    <img src="{{comic.imagen}}" style="width: 100px; height: 130px;"/>
    <button class="btn btn-info" (click)="marcarFavorito()">
        Favorito
    </button>
    <button class="btn btn-danger" (click)="deleteComic()">
        Delete
    </button>
    <button class="btn btn-primary" (click)="updateComic()">
        Update
    </button>
</div>