<div class="container">
    <h1 style="color:blue">Librería Comics Servicios</h1>
    <form #comicForm="ngForm">
        <label class="form-label">Nombre: </label>
        <input type="text" class="form-control" name="cajanombre" #cajanombre/><br/>
        <label class="form-label">Descripción</label>
        <input type="text" class="form-control" name="cajadescripcion" #cajadescripcion/><br/>
        <label class="form-label">Imagen</label>
        <input type="text" class="form-control" name="cajaimagen" #cajaimagen/><br/>
        <button class="btn btn-success" (click)="insertarComic()">
            Insertar Comic
        </button>
    </form>
    <div *ngIf="comicFavorito" style="background-color: lightcyan;">
        <h1>
            {{comicFavorito.nombre}}
        </h1>
        <img src="{{comicFavorito.imagen}}"
            style="width: 80px; height: 100px;"/>
    </div>

    <div *ngFor="let comic of comics; let i = index">
        <app-comic [comic]="comic" [index]="i"
        (seleccionarFavorito)="seleccionarFavorito($event)"
        (eliminarComic)="eliminarComic($event)"
        (modificarComic)="modificarComic($event)"></app-comic>
    </div>
</div>